body {
  background-color: #f2f2f2;
}
.nav-bar {
  height: 90px;
  width: 100%;
}
.logo {
  position: absolute;
  left: 5%;
  right: 97.18%;
  top: calc(2% - 14px / 2);
  bottom: 18.37%;
  width: 70px;
  height: 100px;
}
.nav-home {
  position: absolute;
  height: 14px;
  left: 62.19%;
  right: 23.94%;
  top: calc(7% - 14px / 2);
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #33323d;
  border: none;
  margin-right: 10px;
}
.nav-home:hover {
  cursor: pointer;
}
.nav-portfolio {
  position: absolute;
  height: 14px;
  left: 70%;
  right: 12.69%;
  top: calc(7% - 14px / 2);
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #33323d;
  border: none;
  margin-right: 10px;
}
.nav-portfolio:hover {
  cursor: pointer;
}
.nav-contact {
  position: absolute;
  height: 14px;
  left: 81.18%;
  right: 0.27%;
  top: calc(7% - 14px / 2);
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #5fb4a2;
  border: none;
}
.nav-contact:hover {
  cursor: pointer;
}
.first-section {
  border-top: 0.5px solid silver;
  border-bottom: 0.5px solid silver;
  width: 80%;
  height: 250px;
  position: absolute;
  left: 10%;
  top: 25%;
}
.header1 {
  position: absolute;
  left: 0%;
  top: 0%;
  font-family: Ibarra Real Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  /* identical to box height, or 105% */
  letter-spacing: -0.357143px;
  color: #33323d;
}
.text {
  position: absolute;
  width: 600px;
  height: 180px;
  right: 0%;
  top: 2%;
  bottom: 20%;
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* or 187% */
  color: #33323d;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.github1 {
  position: absolute;
  width: 35px;
  height: 33px;
  right: 55.5%;
  top: 81.7%;
}
.twitter1 {
  position: absolute;
  width: 35px;
  height: 33px;
  right: 50.5%;
  top: 81.7%;
}
.linkedin1 {
  position: absolute;
  width: 35px;
  height: 33px;
  right: 45.5%;
  top: 81.7%;
}
.header2 {
  position: absolute;
  left: 10%;
  top: 60%;
  font-family: Ibarra Real Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  /* identical to box height, or 105% */
  letter-spacing: -0.357143px;
  color: #33323d;
}
label {
  display: block;
}
.input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 600px;
  border: none;
}
.form {
  position: absolute;
  top: 65%;
  left: 42.5%;
  font-family: Public Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  /* identical to box height, or 231% */
  color: #33323d;
  mix-blend-mode: normal;
}
.message {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 600px;
  border: none;
  height: 60px;
}
.submit {
  background-color: #203a4c;
  width: 200px;
  margin-top: 15px;
  border: none;
  height: 40px;
  color: aliceblue;
}
.footer {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 1000px;
  bottom: 0%;
  background: #33323d;
}
.logo-foot {
  position: absolute;
  left: 10%;
  right: 97.18%;
  top: 15px;
  width: 50px;
  height: 50px;
}
.home-foot {
  position: absolute;
  height: 14px;
  left: 20%;
  right: 86.08%;
  top: 30px;
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  border: none;
  margin-right: 10px;
  background: #33323d;
}
.home-foot:hover {
  cursor: pointer;
}
.portfolio-foot {
  position: absolute;
  height: 14px;
  left: 30%;
  right: 86.08%;
  top: 30px;
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-left: 5px;
  border: none;
  background: #33323d;
}
.portfolio-foot:hover {
  cursor: pointer;
}
.contact-foot {
  position: absolute;
  height: 14px;
  left: 43%;
  right: 86.08%;
  top: 30px;
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #5fb4a2;
  margin-left: 5px;
  border: none;
  background: #33323d;
}
.contact-foot:hover {
  cursor: pointer;
}
.github {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 75%;
  top: 20px;
}
.github:hover {
  cursor: pointer;
}
.twitter {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 80%;
  top: 20px;
}
.twitter:hover {
  cursor: pointer;
}
.linkedin {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 85%;
  top: 20px;
}
.linkedin:hover {
  cursor: pointer;
}
